
.App {
  text-align: center;
  padding: 20px;
}

.authentication {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

nav h2 {
  font-size: 18px;
  color: #fff;
  margin: 0;
}

nav button {
  font-size: 14px;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

nav button:hover {
  background-color: #c82333;
}