@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alike+Angular&display=swap');
* {
  justify-content: center;
  font-family: 'Alike Angular', serif;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  background-color: #8d3614;
  width: 100%;
}

.header h2,
.navbar h2 {
  font-family: 'Alike Angular', serif;
  font-size: 50px;
  font-weight: bolder;
  color: #f4f1de;
  margin: 0;
}

.App {
  text-align: center;
  padding: 20px;
  justify-content: center;
}

.authentication {
  display: flex;
  align-items: center;
}
